.attention {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11111;
}
.attention .attent-content {
  margin: 0.4830917874rem 0.845410628rem 1.2077294686rem;
  background: #fff;
}
.attention .attent-content .header-img {
  background: url(../../images/attention.png) no-repeat 50% 50%;
  width: 2.9468599034rem;
  height: 2.1980676329rem;
  position: relative;
  left: 50%;
  top: 0;
  right: 50%;
  bottom: 0;
  margin-left: -1.4734299517rem;
  background-size: cover;
}
.attention .attent-content .attention-content {
  margin-top: 0.845410628rem;
  font-size: 0.3623188406rem;
  color: #333333;
  letter-spacing: 0.0234299517rem;
  line-height: 0.5797101449rem;
  text-align: justify;
  word-break: break-all;
}
