@import "./Common/Variables.scss";
.attach-ment{
    .attach-content{
        position: absolute;
        top:pxTorem(37);
        left:pxTorem(20);
        right:pxTorem(20);
        bottom:pxTorem(40);
        .attach-cell{
            background:#ffffff;
            box-shadow:0 0 pxTorem(10) 0 rgba(129,129,129,0.30);
            border-radius:pxTorem(8);
            height:pxTorem(100);
            padding:pxTorem(10) pxTorem(20);
            display: flex;
            flex-direction: row;
            // margin-bottom:16px;
            // &.mt16{
            //     margin-top:16px;
            // }
            .a-cell-img{
                 display: flex;
                 align-items: center;
                 width:28%;
                img{
                    margin-right:pxTorem(15);
                    display: inline-block;
                    max-height: pxTorem(80);
                    
                }
            }
            
            .attach-info{
                width:72%;
                padding-top:pxTorem(8);
                display: flex;
                flex-direction: column;
                letter-spacing:0;
                color:#999;
                letter-spacing:0;
                .attach-top{
                    font-size:pxTorem(16);
                    // text-overflow: ellipsis;  
                   
                    .name_title{
                        display: inline-block;
                        white-space: nowrap;
                        word-break: break-all;
                        overflow: hidden;
                    }
                }
                .attach-bottom{
                    font-size:pxTorem(14);
                    line-height: pxTorem(20);
                    &.mt10{
                        margin-top: pxTorem(10);
                    }
                }
            }
        }
    }
    .empty{
        position: absolute;
        top:50%;
        left:50%;
        margin-top:-10px;
        margin-left:-150px;
        .empty-content{
            width:300px;
            text-align: center;
            height:20px;
            font-size: 15px;
            color:#999;
        }
    }
}